### Common
tmp

### Terraform
*.tfstate
*.tfstate.backup
*.tfplan_lock
.terraform
terraform.tfstate.d

# platform-tools（ゴミが残ってるのでしばらく必要）
**/function/*.zip
tf.log

### Intellij Idea
.idea
*.iml

### vim
*.swp
